<div class="title bg-dark color-white">
  <div class="container-fluid ">
    <!-- <div class="logo">
          <img src="assets/images/all-ways-caring-logo.png" alt="logo" class="img-fluid">
      </div> -->
    <h3 class="text-center mt-2">Assign DCS</h3>
    <div class="dropdown show">

      <!-- <button type="button" class="title-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">administrator, administrator
                  </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/login']" >Logout</a>
          </div> -->
    </div>
  </div>
</div>
<div class="assign-dcs-wrapper">
  <div class="container mt-3">
    <p class="text-right mb-0 pb-1 pointer" data-toggle="modal" data-target=".bd-example-modal-sm">Schedule Criteria</p>
    <div class="modal fade bd-example-modal-sm schedule-modal" tabindex="-1" role="dialog"
      aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Schedule Criteria </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table box-shadow">
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" class="form-control" />
                  </td>
                  <td>Qualifications </td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Preferences</td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Scheduled DCS
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Previously Served PS</td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Shared DCS
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Get Preferred DCS
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Get UnAvailable DCS
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Do-not Use "Un Preferred DCS"
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" class="form-control" /></td>
                  <td>Get Family Serving Family DCS
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between">
              <button class="btn-common btn-green">Close</button>
              <button class="btn-common btn-green">Reset</button>
              <button class="btn-common btn-green">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <table class="table box-shadow">
        <tbody>
          <tr>
            <td>PS</td>
            <td>BANKS, LOUISE </td>
          </tr>
          <tr>
            <td>Payor Plan</td>
            <td>PCARE-CSRA(1190/801)</td>
          </tr>
          <tr>
            <td>Service[Procedure Code]</td>
            <td>[AGEPS] AGEPS - PERSONAL SUPPORT GRANT </td>
          </tr>
          <tr>
            <td>Visit Start Date</td>
            <td>04/20/2020 02:00 AM </td>
          </tr>
          <tr>
            <td>Visit End Date</td>
            <td>04/20/2020 02:30 AM </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-container">
      <div class="table-container-header d-flex p-2 justify-content-between align-items-center mb-2">
        <div class="input d-flex">
          <label for="exampleInputEmail1" class="text-white px-2">Search</label>
          <input type="search" class="form-control w-200">
        </div>
        <div class="checkbox px-3 d-flex align-items-center">
          <p class="mr-2 mb-0 text-white"> <b>Active</b> </p>
          <div class="form-check">
            <input class="form-check-input text-white" type="radio" name="exampleRadios" id="exampleRadios1"
              value="option1" checked>
            <label class="form-check-label text-white" for="exampleRadios1">
              All
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
            <label class="form-check-label text-white" for="exampleRadios1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="option3">
            <label class="form-check-label text-white" for="exampleRadios2">
              No
            </label>
          </div>
        </div>
        <button class="btn-common btn-green"> Go </button>
      </div>
      <div class="p-2">
        <table class="table box-shadow mb-0">
          <thead class="thead-dark">
            <tr>
              <th colspan="2"></th>
              <th>
                <input type="checkbox" class="form-control">
              </th>
              <th>DCS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><input type="checkbox"></td>
              <td>BANKS, LOUISE </td>
            </tr>
            <tr>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><input type="checkbox"></td>
              <td>PCARE-CSRA(1190/801)</td>
            </tr>
            <tr>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><input type="checkbox"></td>
              <td>[AGEPS] AGEPS - PERSONAL SUPPORT GRANT </td>
            </tr>
            <!-- <tr>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><input type="checkbox"></td>
              <td>04/20/2020 02:00 AM </td>
            </tr> -->
            <tr>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><input type="checkbox"></td>
              <td>04/20/2020 02:30 AM </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between m-2">
        <button class="btn-common btn-green"> Close </button>
        <button class="btn-common btn-green f-12"> Check Availability</button>
      </div>

    </div>
  </div>
</div>