html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .intro {
    max-width: 100%;
    margin: 1em auto;
  }
  .table-scroll {
    position: relative;
    width:1254px;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 400px;
  }
  .table-scroll table {
    width: 1254px;
    min-width: 1254px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-wrap {
    position: relative;
  }
  .table-scroll th,
  .table-scroll td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: $white;
    vertical-align: top;
  }
  .table-scroll thead th {
    color:$white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* safari and ios need the tfoot itself to be position:sticky also */
  .table-scroll tfoot,
  .table-scroll tfoot th,
  .table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #666;
    color: $white;
    z-index:4;
  }
  
  th:first-child {
    // position: -webkit-sticky;
    // position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
  }
  td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
  }
  thead th:first-child {
    z-index: 5;
  }
  thead td:first-child{
    z-index: 5;
  }