// CUSTOM RAPPER START
.custom-class {
    background-color: $table-body;
    @include size(null, 100%);
    .item-wrapper {
        @include margin(null, 3.3125rem, null, 3.3125rem);
        border: 1px solid $button-bg-color;
        @include margin(null, null, 30px, null);
    }
    .heading-wrapper {
        @include padding(13px, 0px, 0px, 0px);
        p {
            font-size: 16px;
            @include padding(0px, 0px, 0px, 12px);
            @include margin(18px, null, null, null);
        }
    }
    // CUSTOM WRAPPER START
    .custom-wrapper {
        @include padding(0px, 0px, 0px, 0px);
        @include margin(0px, 0px, 0px, 28px);
        p {
            @include padding(0px, 15px, 12px, 15px);
            font-size: 15px;
            color: $text;
        }
    }
    // CUSTOM WRAPPER END
    // CLOCK DETAIL STARTS
    .clock-detail {
        border: 1px solid $button-bg-color;
        @include margin(0px, 12px, 13px, 12px);
        .issue-wrapper {
            @include padding(8px, 0px, null, 13px);
            h3 {
                font-size: 16px;
                font-weight: 500;
                @include msize(32px, 12px);
            }
        }
        p {
            // @include msize(359px, 12px);
            max-width: 359px;
            min-height: 12px;
            font-size: 15px;
            @include padding(0px, 0px, 13px, 13px);
            color: $text;
        }
        .clock-heading-wrapper {
            @include padding(0px, 0px, 0px, 0px);
            @include margin(0px, 0px, 15px, 13px);
            h3 {
                font-size: 16px;
                font-weight: 500;
                @include msize(32px, 12px);
            }
        }
        .address-wrapper {
            @include margin(null, 12px, 12px, 12px);
            @include padding(12px, 0px, 0px, 0px);
            background-color: $Invalid-Caller-ID;
            p {
                // @include msize(385px, 39px);
                max-width: 385px;
                min-height: 39px;
                font-size: 15px;
                color: $white;
            }
        }
        .button-wrapper {
            @include margin(null, 12px, 12px, 12px);
            // min-height: 1px;
            // @include padding(null, 12px, 0px,12px);
            button {
                @include msize(100%, null);
                font-size: 16px;
                font-weight: 500;
                color: $white;
                background-color: $test-button;
                @include border-radius(0px, 8px, 0px, 8px);
                // position: absolute;
                // @include position(null, 28px, null, null);
                // @include margin(null, 12px, 12px, 12px);
                min-width: 100px;
            }
        }
    }
    //  CLOCK DETAIL ENDS
    // PS HEADING START
    .ps-heading-wrapper {
        // @include margin(0px, 12px, 13px, 12px);
        // ...
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        // input[type="radio"] {
        // //   display: none;
        // }
        input[type="radio"]+label:before {
            content: "";
            /* create custom radiobutton appearance */
            @include size(null, 14px);
            @include padding(2px, 2px, 2px, 2px);
            @include margin(null, 5px, null, 3px);
            min-width: 14px;
            /* background-color only for content */
            background-clip: content-box;
            border: 2px solid $login-text;
            // background-color: $text;
            @include border-radius(50%, 50%, 50%, 50%);
        }
        /* appearance for checked radiobutton */
        input[type="radio"]:checked+label:before {
            background-color: $button;
            border: 2px solid $button;
            color: $button;
        }
        /* optional styles, I'm using this for centering radiobuttons */
        label {
            display: flex;
            align-items: center;
            @include margin(null, 10px, null, 0px);
            font-size: 15;
            color: $text;
        }
        // ...
        h3 {
            font-size: 16px;
            font-weight: 500;
            @include margin(0px, 0px, 20px, 0px);
            i {
                color: $text;
            }
        }
    }
    .custom-tooltip-icon {
        a {
            i {
                color: $text;
            }
        }
    }
    // PS HEADING WRAPPER END
    .ps-detail-wrapper {
        border: 1px solid $button-bg-color;
        @include margin(0px, 12px, 0px, 0px);
        p {
            font-weight: 500;
            font-size: 15px;
            @include padding(15px, 12px, 0px, 12px);
        }
    }
    .update-button {
        @include margin(null, 12px, 60px, 12px);
        // @include padding(null, 12px, 0px,12px);
        button {
            // @include msize(100%, null);
            min-width: 100px;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            background-color: $button;
            @include border-radius(0px, 8px, 0px, 8px);
            position: absolute;
            @include position(null, 28px, null, null);
            @include margin(12px, 0px, 12px, 12px);
        }
    }
    .resolution-heading {
        @include margin(0px, 0px, 13px, 12px);
        h3 {
            font-size: 16px;
            font-weight: 500;
            @include margin(0px, 0px, 20px, 0px);
        }
    }
    .formate-add-wrapper {
        @include margin(0px, 0px, 0px, 0px);
        .table-responsive {
            // width: 96%;
        }
        table {
            width: 98%;
            thead {
                tr {
                    th {
                        @include padding(10px, 8px, 10px, 8px);
                        color: $white;
                        background-color: $blue;
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        // text-align: center;
                        // width: 190px;
                        font-size: 11px;
                        color: $text;
                        text-align: center;
                        @include padding(8px, 0px, 8px, 0px);
                        input[type="text"] {
                            // width: 160px;
                            border: 1px solid $button-bg-color;
                            // @include margin(5px, 5px, 5px, 5px);
                            width: 95%;
                            margin: 0 auto;
                        }
                        .input-btn {
                            @include padding(0px, 0px, 0px, 0px);
                            input {
                                @include padding(0px, 0px, 0px, 5px);
                                border: 1px solid $button-bg-color;
                                @include border-radius(2px, 2px, 2px, 2px);
                                @include size(null, 35px);
                                background-color: $table-body;
                            }
                        }
                    }
                }
            }
        }
        #btn-group {
            @include border-radius(2px, 2px, 2px, 2px);
            // @include margin(null, null, 12px, null);
            @include msize(460px, null);
            .default-btn {
                @include padding(10px, 15px, 10px, 25px);
                background-color: $blue;
                color: $white;
                border: none;
                @include size(20px, null);
            }
            .group-btn {
                @include padding (10px, 45px, 10px, 20px);
                background-color: $blue;
                border: none;
                color: $white;
            }
        }
    }
    .save-btn-wrapper {
        @include margin(null, 30px, 15px, 12px);
        // @include padding(null, 12px, 0px,12px);
        button {
            min-width: 100px;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            background-color: $button;
            @include border-radius(0px, 8px, 0px, 8px);
            // position: absolute;
            // @include position(null, 28px, null, null);
            // @include margin(0px, 0px, 0px,12px);
        }
    }
}

// CUSTOM WRAPPER ENDS
// MAP CONTAINER STARTS
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    // height:0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

// MAP ENDs
// MEDIA QUERY START
@media screen and (max-width: $screen-sm) {
    .custom-class .ps-detail-wrapper {
        // @include margin(null, 12px, null, 12px);
    }
    .custom-class .update-button button {
        @include margin(null, 12px, null, 12px);
    }
    // MAP ENDs
    .gps-table {
        tbody {
            tr {
                td {
                    max-width: 170px !important;
                }
            }
        }
    }
}

// MEDIA QUERY START
@media screen and (max-width: $screen-sm) {
    .custom-class .ps-detail-wrapper {
        // @include margin(null, 12px, null, 12px);
    }
    .custom-class .update-button button {
        @include margin(null, 12px, null, 12px);
    }
    .custom-class .save-btn-wrapper button {
        @include margin(null, 12px, null, 12px);
    }
    .custom-class .formate-add-wrapper {
        @include margin(null, 12px, null, 12px);
    }
    // .custom-class .clock-detail p{
    //     @include margin(null, null, 24px, null);
    // }
    // .custom-class .ps-detail-wrapper p
    .custom-class .formate-add-wrapper {
        @include margin(null, 12px, null, 12px);
    }
    // .custom-class .clock-detail p {
    //     @include margin(null, null, 24px, null);
    // }
    .modal-content {
        width: 95%;
    }
}

// MEDIA END
agm-map {
    height: 300px;
}

.pointermaps {
    cursor: pointer;
}

.btn {
    &.disabled,
    &:disabled {
        cursor: not-allowed;
    }
}

.component-wrapper {
    .tooltip {
        left: 0 !important;
        .tooltip-arrow {
            &::before {
                right: 0;
                border-width: .4rem .4rem .4rem 0;
                border-right-color: #145194;
            }
        }
        .tooltip-inner {
            /* max-width: 200px; */
            padding: 5px 10px;
            font-size: 15px;
            text-align: center;
            font-weight: 800;
            border-radius: .25rem;
            background-color: #145194;
            color: $white;
            display: flex;
            align-items: center;
        }
    }
}

@media(max-width:768px) {
    .custom-class .ps-detail-wrapper p {
        // font-weight: 500;
        font-size: 12px;
        padding-top: 6px;
        padding-left: 6px;
    }
}
