.profile-wrapper {
    .profile-header{
        background-color: $blue;
        color: $white;
    }
    .table-wrapper {
        width: 42%;
        
        .table {
            width: 97%;
            background-color: #fff;
            box-shadow: 2px 2px 10px #828282;
            @include margin(0px,10px,10px,10px);
            tr {
                th {
                    padding: 6px !important;
                    vertical-align: middle;
                }
                td {
                    padding: 6px !important;
                    vertical-align: middle;
                }
            }
        }
        .pill-content {   
            @include padding (null,null,5px,null);
            background: #ccc;
        }
        .pills-wrapper{
            border: 2px solid  #ccc;
            border-bottom: 0;
            a{
                color: $black;
                &:hover{
                    color: $blue;
                }
                &:active{
                    color: $blue;
                }
            }
        }
        .nav-pills .nav-link.active{
            color: #fff;
            background-color: $blue;
        }
    }
}
