.visit-main-wrapper {
    width: 35%;
    // height: 45%;
  border: 1px solid #76bd43;
margin: 80px auto;
display: block;
box-shadow: 2px 2px 10px #ccc;
.comment-main-firm{
    background-color: #145194;
    @include padding(10px, 5px, 5px, 10px);

    .care-visit{
        font-size: 26px;
        letter-spacing: 2px;
    }

}

.name-visit-firm{
    width: 80%;
    margin: 0 auto;
display: block;
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }
.table-name{
    font-weight: bold;
    font-size: 18px;
}
    .bg-commit{
        background-color: #cacaca;
       
    }
    .ps-firm{
font-size: 20px;
    }
    .tommie-firm{
        color: #145194;
        font-size: 20px;
    }
 .input-comment{
     border: 1px solid;
 }
}
.visit-btn-firm{
    width: 80%;
    margin: 0 auto;
display: block;
    .bg-commit{
        // background-color: #cacaca;
    
        .button{
            background-color: #145194;
            border: none;
            color:$white;
            padding: 10px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;
        }
    }
}

}

@media(max-width:768px){

    .visit-main-wrapper {
height: 55%;

}     
    
}
@media(max-width:568px){

    .visit-main-wrapper {
height: 62%;
border: 1px solid #76bd43;
.name-visit-firm{
    .ps-firm{
        font-size: 16px;
            }
            .tommie-firm{
                font-size: 16px;
            }
}

}     
.visit-main-wrapper .visit-btn-firm .bg-commit .button {
    padding: 10px 22px;
} 
}

@media(max-width:375px){

    .visit-main-wrapper {
height: 66%;
border: 1px solid #76bd43;
.name-visit-firm{
    .ps-firm{
        font-size: 12px;
            }
            .tommie-firm{
                font-size: 14px;
            }
}

}     
    
}

