.side-bar {
    left: 0;
    height: 91vh;
    background: #444444;
    color: white;
    header {
        user-select: none;
        text-align: center;
        background-color: #808080;
        line-height: 61px;
    }
    ul {
        list-style: none;
        padding: 0;
        a {
            display: block;
            color: white;
            height: 100%;
            width: 100%;
            line-height: 40px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            transition: 0.4s;
            text-align: center;
            &:hover {
                padding-left: 20px;
            }
        }
    }
}

.chart-content {
    .chart-content-header {
        background-color: #808080;
        color: white;
        input {
            height: 30px;
            border: 0;
            height: 30px;
            padding-left: 10px;
            outline: none;
        }
    }
}

.chartpopup {
    .modal-header {
        background-color: #343a40;
        color: #fff;
        position: sticky;
    }
    .modal-content {
        width: 50%;
        @include margin(8%, null, null, null);
        height: 80vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #f7fafc;
    }
    i{
        cursor: pointer;
    }
}

.chartpopup2 {
    .modal-header {
        background-color: #343a40;
        color: #fff;
        position: sticky;
    }
    .modal-content {
        width: 65%;
        @include margin(8%, null, null, null);
        height: 80vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #f7fafc;
    }
    i{
        cursor: pointer;
    }
}

.sunburst-viz {
    text {
        display: block !important;
        .text-contour {
            stroke-width: 0 !important;
            stroke: transparent !important;
        }
    }
}

.chart-detail-table {
    thead {
        tr {
            th {
                @include padding(5px, 20px, 5px, 20px);
                color: $white;
                background-color: $blue;
                text-align: center;
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 12px;
                color: $text;
                height: 35px;
                @include padding(0px, 5px, 0px, 5px);
                text-align: center;
                input {
                    font-size: 12px;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    box-shadow: none;
                    border: none;
                    height: 35px;
                    @include padding(null, 0px, null, 10px);
                    @include border-radius(0px, 0px, 0px, 0px);
                    border: 1px solid $button-bg-color;
                    background-color: $table-body;
                    margin: 0 !important;
                }
            }
        }
    }
}

.list-area {
    width: 150px;
}

.selected-list .c-btn {
    width: 111px !important;
}

.common-table-btn {
    @include size(5.75rem, 2.1875rem);
    &:hover {
        color: $white;
    }
}

.chart-button {
    min-width: 100px;
    font-size: 13px;
    font-weight: 500;
    color: $white;
    background-color: #145194;
    border: none;
    float: right !important;
    @include border-radius(null, 8px, null, 8px);
    @include margin(null, 8px, null, null);
    @include padding(3px, 8px, 3px, 8px);
}

.chart-topbar-button {
    min-width: 100px;
    font-size: 13px;
    font-weight: 500;
    color: $white;
    background-color: #145194;
    border: none;
    @include border-radius(null, 8px, null, 8px);
    @include margin(null, 8px, null, null);
    @include padding(3px, 8px, 3px, 8px);
}

@media screen and (max-width:768px) {
    .side-bar {
        height: 44vh;
    }
    .modal-content {
        overflow-x: scroll;
    }
    .chart-content {
        .chart-content-header {
            background-color: #808080;
            color: white;
            flex-direction: column;
        }
    }
    .chart-topbar-button {
        text-align: center;
    }
    .custom-class {
        display: inline-block;
    }
    .chart-content-body {
        flex-direction: column;
    }
    #canvas2 {
        margin-top: 10px;
    }
}