<div class="profile-wrapper">
  <div class="table-wrapper mx-auto mt-3">

    <!-- ==================================== -->

    <div class="pills-wrapper">
      <ul class="nav nav-pills px-4 py-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active f-15" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link f-15" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link f-15" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
            aria-controls="pills-contact" aria-selected="false">Other Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link f-15" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
            aria-controls="pills-contact" aria-selected="false">Preferred/Un Preferred DCS</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active pill-content" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab">
        <h5 class="profile-header p-2 text-center">PS Details</h5>
        <table class="table table-bordered p-2">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td>ALFORD, TOMMIE</td>
            </tr>
            <tr>
              <th scope="row">MRN</th>
              <td>131095 </td>
            </tr>
            <tr>
              <th scope="row">Location</th>
              <td>Home </td>
            </tr>
            <tr>
              <th scope="row">Office</th>
              <td>SHC - ROME
              </td>
            </tr>
            <tr>
              <th scope="row">Coordinator</th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Phone1</th>
              <td>Home: 784-222-2222
              </td>
            </tr>
            <tr>
              <th scope="row">Phone2</th>
              <td>784-255-8779
              </td>
            </tr>
            <tr>
              <th scope="row">Phone3</th>
              <td>222-222-2222
              </td>
            </tr>

            <tr>
              <th scope="row">Fax</th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Suite</th>
              <td>62 BOYD VALLEY RD SE
              </td>
            </tr>
            <tr>
              <th scope="row">City</th>
              <td>ROME </td>
            </tr>
            <tr>
              <th scope="row">State</th>
              <td>Georgia </td>
            </tr>
            <tr>
              <th scope="row">Zip Code</th>
              <td>30161</td>
            </tr>
            <tr>
              <th scope="row">Directions</th>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button class="btn-common btn-blue ml-auto d-block mb-2">Close</button>
      </div>
      <div class="tab-pane fade pill-content p-4" id="pills-profile" role="tabpanel"
        aria-labelledby="pills-profile-tab">
        <h5 class="profile-header p-2 text-center">PS Comments</h5>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Comments</th>
              <th scope="col">Comment Date Time </th>
              <th scope="col">Attachment</th>
              <th scope="col">Updated User
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>

          </tbody>
        </table>
        <button class="btn-common btn-blue ml-auto d-block">Close</button>
      </div>
      <div class="tab-pane fade pill-content p-4" id="pills-contact" role="tabpanel"
        aria-labelledby="pills-contact-tab">
        <h5 class="profile-header p-2 text-center">PS Other Contacts</h5>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Contact Type </th>
              <th scope="col">Relationship </th>
              <th scope="col">Last Name </th>
              <th scope="col">First Name </th>
              <th>Address</th>
              <th>Phone </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
          </tbody>
        </table>
        <button class="btn-common btn-blue ml-auto d-block">Close</button>
      </div>
      <div class="tab-pane fade pill-content p-4" id="pills-contact" role="tabpanel"
        aria-labelledby="pills-contact-tab">
        <h5 class="profile-header p-2 text-center">PS Preferred/Un Preferred DCS</h5>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <button class="btn-common btn-blue ml-auto d-block">Close</button>
      </div>
    </div>


  </div>






</div>