<!-- <app-header></app-header> -->
<div class="container-wrapper">
    <div class="ps-registration-tabs-container">
        <div class="bg-grey-l p-3">
            <div class="d-flex">
                <h4 class="pb-2 AvenirLTStd-Heavy m-0 f-size-16">Guarantor Details</h4>
                <div class="d-flex align-items-center pl-2">
                    <label class="customcheck m-0">
                        <input type="checkbox" (change)="SelfCheck($event)" [checked]="selfChecBox">
                        <span class="checkmark"></span>
                    </label>
                    <label for='checkbox' class="checkbox m-0">
                        <span class="color-black">Self</span>
                    </label>
                </div>
            </div>
            <form class="d-flex align-items-center nav justify-content-between border-2" [formGroup]="guarantorForm">
                <div class="input-container-wrapper pb-sm-0">
                    <label class="">
                        Relationship<span class="text-danger">*</span>
                    </label>

                    <div class="input-group ">

                        <div class="ng-autocomplete" style="width: 100%;" [class.invalid-input]="(f.relationId.invalid && formError)||(f.relationshipList.invalid && formError)">
                            <ng-autocomplete #relationName [data]="relationshipList" formControlName="relationId" (inputCleared)="selectChange($event,'relationshipList',false)" (selected)="selectChange($event,'relationshipList',true)" [searchKeyword]="Keyword" [itemTemplate]="itemTemplate1">
                            </ng-autocomplete>
                            <ng-template style="width: 100%;" #itemTemplate1 let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                        </div>
                    </div>

                </div>

                <div class=" input-container-wrapper pb-sm-0">
                    <label class="text-capital">
                        Last Name<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  ">
                        <input type="text" [class.is-invalid]="f.lastName.invalid && formError" formControlName="lastName" class="form-control text-capital" aria-label="Auth">
                    </div>

                </div>
                <div class=" input-container-wrapper pb-sm-0">
                    <label class="text-capital">
                        First Name<span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                        <input type="text" [class.is-invalid]="f.firstName.invalid && formError" class="form-control text-capital" aria-label="Last Name" formControlName="firstName">

                    </div>
                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        SSN
                    </label>

                    <div class="input-group  ">
                        <input type="text" class="form-control" maxlength='9' (keyup)="PhoneNumFormat($event,'ssn')" aria-label="Case Manager" formControlName="ssn">
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">Occupation<span class="text-danger">*</span></label>
                    <div class="input-group ">
                        <div class="ng-autocomplete" style="width: 100%;" [class.invalid-input]="(f.occupationName.invalid && formError)||(f.occupationList.invalid && formError)">

                            <ng-autocomplete #ocuupationName [data]="occupationList" formControlName="occupationName" (inputCleared)="selectChange($event,'occupationList',false)" (selected)="selectChange($event,'occupationList',true)" [searchKeyword]="Keyword" [itemTemplate]="itemTemplate1">
                            </ng-autocomplete>
                            <ng-template style="width: 100%;" #itemTemplate1 let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </form>

            <div class="d-flex align-items-center">
                <h4 class="py-2 AvenirLTStd-Heavy m-0 address-title p-0 f-size-16 pr-3">Address</h4>
                <div class="d-flex align-items-center">
                    <label class="customcheck margin-left-15 m-0">
                        <input type="checkbox" (change)="addressCheck($event)" [checked]="checkBoxAddress">
                        <span class="checkmark"></span>
                    </label>
                    <label for='checkbox' class="m-0">
                        <span class="color-black">Same as PS Address</span>
                    </label>
                </div>
            </div>
            <form class="d-flex align-items-center nav justify-content-between border-2" [formGroup]="guarantorForm">
                <div class="input-container-wrapper">
                    <label class="">
                        Location<span class="text-danger">*</span>
                    </label>
                    <div class="input-group  ">
                        <div class="ng-autocomplete" style="width: 100%;" [class.invalid-input]="(f.location.invalid && formError)||(f.addressTypeList.invalid && formError)">
                            <ng-autocomplete [data]="addressTypeList" [searchKeyword]="Keyword" (inputCleared)="selectChange('','addressTypeList',false)" (selected)="selectChange($event,'addressTypeList',true)" formControlName="location" [itemTemplate]="itemTemplate">
                            </ng-autocomplete>
                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class=" input-container-wrapper">
                    <label class="">
                        Address Line #1<span class="text-danger">*</span>
                    </label>
                    <div class="input-group  " [class.invalid-input]="(f.lane.invalid && formError)">
                        <input type="text" class="form-control" aria-label="Auth" formControlName="lane">
                    </div>
                </div>
                <div class=" input-container-wrapper">
                    <label class="">
                        Address Line #2
                    </label>
                    <div class="input-group  ">
                        <input type="text" class="form-control" aria-label="Auth" formControlName="lane2">
                    </div>
                </div>
                <div class=" input-container-wrapper">
                    <label class="">
                        Zip Code<span class="text-danger">*</span>
                    </label>
                    <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                        <input type="text" class="form-control " aria-label="date" formControlName="zipcode" (keyup)="getzip()" id="autocomplete" type="text" class="form-control">

                    </div>
                </div>
                <div class=" m-0  input-container-wrapper phone-container">
                    <label class="">
                        Phone<span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                        <div class="  date-input  d-flex align-items-center w-100">
                            <div class="ng-autocomplete phone-select" [class.invalid-input]="(f.phoneTypeName.invalid && formError)||(f.phoneTypeList.invalid && formError)">
                                <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword" (inputCleared)="selectChange('', 'phoneTypeList',false)" (selected)="selectChange($event, 'phoneTypeList',true)" formControlName="phoneTypeName" placeHolder="Type" [itemTemplate]="itemTemplate">
                                </ng-autocomplete>
                                <ng-template style="width: 100%;" #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
                            </div>
                            <div class="input-group ">
                                <input type="text" formControlName="number" (keyup)="PhoneNumFormat($event,'phone')" [class.is-invalid]="f.number.invalid && formError" maxlength='10' class="form-control" formControlName="number" aria-label="Auth">
                                <!-- <div *ngIf="f.number.invalid && f.number.touched && f.number.errors">
                            <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is required!</small>
                          </div> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">City<span class="text-danger">*</span> </label>
                    <div class="input-group ">
                        <input type="text" class="form-control " aria-label="date" [class.is-invalid]="f.city.invalid && formError" formControlName="city" disabled="true">
                    </div>
                </div>
                <div class=" input-container-wrapper pb-sm-0">
                    <label class="">
                        State <span class="text-danger">*</span>
                    </label>
                    <div class="input-group ">
                        <input type="text" class="form-control " [class.is-invalid]="f.state.invalid && formError" formControlName="state" aria-label="date" formControlName="state" disabled="true">
                    </div>
                </div>
                <div class=" input-container-wrapper pb-sm-0">
                    <label class="">
                        County<span class="text-danger">*</span>
                    </label>
                    <div class="input-group ">
                        <input type="text" class="form-control" [class.is-invalid]="f.county.invalid && formError" formControlName="county" aria-label="date" disabled>
                    </div>
                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        Time Zone<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  ">
                        <input type="text" [class.is-invalid]="f.country.invalid && formError" class="form-control" aria-label="Case Manager" formControlName="timeZone" disabled>
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        Country<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  ">
                        <input type="text" class="form-control" [class.is-invalid]="f.country.invalid && formError" formControlName="country" aria-label="Case Manager" disabled>
                    </div>

                </div>
            </form>
            <div class="d-flex align-items-center justify-content-between mt-3">

                <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step" [routerLink]="['/widgets']">Cancel</button>
                </div>
                <!-- <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step" (click)="getPreviousBasic()">Previous</button>
                </div> -->
                <div class="next">
                    <button type="button" class="btn-info  btn-next next-step" (click)="onSubmit()">Save & Next</button>
                </div>
                <!-- <div class="next">
          <button type="button" class="btn-info next-step btn-next" >Next</button>
        </div> -->
            </div>

        </div>
    </div>
</div>