<div class="container-wrapper">
    <div class="ps-registration-tabs-container">
        <div class="bg-grey-l p-3">
            <h4 class="pb-2 AvenirLTStd-Heavy m-0 f-size-16">Authorization Details</h4>
            <div class="d-flex align-items-center nav justify-content-between border-2">
                <div class="input-container-wrapper">
                    <label class="">
            PS Name
          </label>
                    <div class="input-group  ">
                        <input type="text" class="form-control" disabled [(ngModel)]="psName">
                    </div>
                </div>
                <div class="input-container-wrapper ">
                    <label class="">
            Temp Auth<span class="text-danger">*</span>
          </label>


                    <div class="check-box-wrapper ">
                        <div class="on-off-toggle">
                            <input class="on-off-toggle__input" type="checkbox" (click)="tempAuthCheck($event)" id="bopis" />
                            <label for="bopis" class="on-off-toggle__slider"></label>
                        </div>
                    </div>

                </div>
                <div class="input-container-wrapper">
                    <label class="">
            Auth #<span class="text-danger" *ngIf="tempAuth">*</span>
          </label>
                    <div class="input-group" *ngIf="!tempAuth">
                        <input type="text" class="form-control" [(ngModel)]="authorizationManual">

                    </div>

                    <div class="input-group" *ngIf="tempAuth">
                        <!-- <input type="text" class="form-control"> -->
                        <ng-autocomplete [data]="tempAuthzDaySpanList" (inputCleared)='autoSelected(null,"tempAuthzDaySpanList",false)' (selected)="autoSelected($event,'tempAuthzDaySpanList',true)" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="tempAuthzDaySpanKeyword"
                            [itemTemplate]="itemTemplate3">
                        </ng-autocomplete>
                        <ng-template style="width: 100%;" #itemTemplate3 let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    </div>
                </div>
                <div class="input-container-wrapper">
                    <label class="">
            Payor Plan<span class="text-danger">*</span>
          </label>
                    <div class="input-group  ">
                        <input type="text" class="form-control" disabled [(ngModel)]="payorPlan">
                    </div>
                </div>
                <div class=" m-0 input-container-wrapper">
                    <label class="">
            Case Manager<span class="text-danger"></span>
          </label>
                    <div class="input-group  ">
                        <!-- <input type="text" class="form-control"> -->
                        <ng-autocomplete [data]="caseManagerList" [notFoundTemplate]="notFoundTemplate" (inputCleared)='autoSelected(null,"caseManagerList",false)' (selected)="autoSelected($event,'caseManagerList',true)" [searchKeyword]="casemanagerKeyword" [itemTemplate]="itemTemplate"
                            style="width: 100%;">
                        </ng-autocomplete>
                        <ng-template style="width: 100%;" #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    </div>
                </div>
                <div class=" m-0 input-container-wrapper pb-sm-0 procedurecode">
                    <label class="">Procedure Code<span class="text-danger">*</span> </label>

                    <angular2-multiselect [data]="servicesList" [(ngModel)]="procedureSelctedItems" (onDeSelectAll)="procedureDeSelect()" (onSelect)="procedureSelect()" [settings]="dropdownSettings" class="w-100">
                    </angular2-multiselect>
                </div>
                <div class="input-container-wrapper pb-sm-0 nav d-flex align-items-center justify-content-between">
                    <div class="w-48">
                        <label class="">
              Begin Date<span class="text-danger">*</span>
            </label>
                        <div class="input-group ">
                            <input type="text" class="form-control  " [(ngModel)]="beginDate" aria-label="date" placeholder="mm/dd/yyyy" bsDatepicker>
                        </div>
                    </div>

                    <div class=" w-48 pb-sm-0">
                        <label class="">
              End Date<span class="text-danger"></span>
            </label>
                        <div class="input-group  ">
                            <input type="text" class="form-control " [disabled]="tempAuth" [(ngModel)]="tempAuth ?null: endDate" aria-label="date" placeholder="mm/dd/yyyy" bsDatepicker>
                        </div>
                    </div>
                </div>
                <!-- <div class=" input-container-wrapper pb-sm-0">
                    <label class="">
                        End Date<span class="text-danger">*</span>
                    </label>
                    <div class="input-group w-160 ">
                        <input type="text" class="form-control " [(ngModel)]="endDate" aria-label="date"
                            placeholder="mm/dd/yyyy" bsDatepicker>
                    </div>
                </div> -->
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
            Billing Rate<span class="text-danger">*</span>
          </label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="billingRate" disabled class="form-control" aria-label="Case Manager">
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
            Location<span class="text-danger">*</span>
          </label>
                    <div class="input-group ">

                        <select [(ngModel)]="psAddressId" class="form-control align-items-center">
              <option *ngFor="let location of locationList" [ngValue]='location.psAddressId'>
                {{location.locationName}}
              </option>


            </select>
                    </div>

                </div>
                <div class=" m-0 input-container-wrapper pb-sm-0 total-units">
                    <label class="">
            Total Units<span class="text-danger">*</span>
          </label>
                    <div class="input-group  align-items-center">
                        <input type="number" class="form-control mr-2" aria-label="Case Manager" [(ngModel)]="totalUnits" [disabled]='totalUnitsFlag||privateDuty'>
                        <label class="customcheck  w-auto">
              <input type="checkbox"  [disabled]="privateDuty" (click)="toggleCheck($event)">
              <span class="checkmark" title="No Limit"></span>
            </label>
                        <!-- <button [tooltip]="gps" containerClass="customClass" tooltipPlacement="right" *ngIf="this.data.ArrGpsException==1||this.data.DepGpsException==1 " [ngClass]="displayArray[0]?'active':''" type="button" class="btn" (click)="SelectorDisplay(0)">
                <i class="fas fa-map-marker-alt"></i>

            </button> -->
                    </div>

                </div>


            </div>
            <div *ngIf='!privateDuty'>

                <h4 class=" AvenirLTStd-Heavy m-0 py-2 f-size-16">Delivery Plan</h4>
                <div class="d-flex align-items-center nav justify-content-between">

                    <div class=" m-0  input-container-wrapper pb-sm-0">
                        <label>
              Effective From<span *ngIf="weeklyFlag||dailyFlag||monthlyFlag" class="text-danger">*</span>
            </label>
                        <div class="input-group  ">
                            <input type="text" class="form-control" aria-label="Case Manager" [(ngModel)]="effectiveFromDate" placeholder="mm/dd/yyyy" bsDatepicker>
                        </div>
                    </div>
                    <div class=" m-0 input-container-wrapper pb-sm-0">
                        <label class="">
              Effective To
            </label>
                        <div class="input-group  ">
                            <input type="text" class="form-control" aria-label="Case Manager" [(ngModel)]="effectiveToDate" placeholder="mm/dd/yyyy" bsDatepicker>

                        </div>
                    </div>
                    <div class=" m-0 input-container-wrapper d-flex justify-content-around pb-sm-0 w-50-sm" *ngIf="!privateDuty">
                        <div class=" mx-2">
                            <label class="">
                Weekly
              </label>

                            <div class="check-box-wrapper">
                                <div class="on-off-toggle ">
                                    <input class="on-off-toggle__input" type="checkbox" (click)='toggleDisplayDivWeekly($event)' id="bopis-to" />
                                    <label for="bopis-to" class="on-off-toggle__slider"></label>
                                </div>
                            </div>
                        </div>
                        <div class="mx-2">
                            <label class="">
                Daily
              </label>

                            <div class="check-box-wrapper">
                                <div class="on-off-toggle ">
                                    <input class="on-off-toggle__input" type="checkbox" (click)="toggleDisplayDivDaily($event)" id="bopis-t" />
                                    <label for="bopis-t" class="on-off-toggle__slider"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" m-0 input-container-wrapper pb-sm-0 w-50-sm" *ngIf="!privateDuty">
                        <div class=" mx-2">
                            <label class="">
                Monthly
              </label>

                            <div class="check-box-wrapper ">
                                <div class="on-off-toggle ">
                                    <input class="on-off-toggle__input" (click)='toggleDisplayDivMonthly($event)' type="checkbox" id="bopis-toggle" />
                                    <label for="bopis-toggle" class="on-off-toggle__slider"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" m-0 input-container-wrapper"></div>
                </div>

                <div *ngIf="weeklyFlag">


                    <h4 class=" AvenirLTStd-Heavy m-0 py-2 f-size-16
            ">Weekly</h4>
                    <div class="border-2">


                        <div class="d-flex align-items-center nav justify-content-between">
                            <div class=" m-0 input-container-wrapper">
                                <label class="">
                  Max Units<span class="text-danger">*</span>
                </label>
                                <div class="input-group  ">
                                    <input type="number" class="form-control" [(ngModel)]="weeklyMaxUnits" aria-label="Max Units" placeholder="">
                                </div>
                            </div>
                            <div class=" m-0 input-container-wrapper">
                                <label class="">Per Week</label>
                                <div class="input-group ">
                                    <select (change)="perWeekChange()" [(ngModel)]="weeklyPerWeek" class="form-control align-items-center">
                    <option [ngValue]="'W'">MON-FRI</option>
                    <option [ngValue]="'F'">SUN-SAT</option>


                  </select>
                                </div>

                            </div>
                            <div class=" m-0 input-container-wrapper">
                                <label class="">
                  #Weeks
                </label>
                                <div class="input-group  ">
                                    <input type="number" class="form-control" [(ngModel)]='weeklyNoOfWeek'>
                                </div>
                            </div>
                            <div class=" m-0  input-container-wrapper">
                                <label class="">
                  #Days Per Week
                </label>
                                <div class="input-group  ">
                                    <input type="number" class="form-control" [(ngModel)]="weeklyDaysPerWeek">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center nav justify-content-between">
                            <div class=" input-container-wrapper d-flex align-items-center justify-content-between nav pb-sm-0">
                                <div class="day-input">
                                    <label class="">
                    SUN
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag ||weeklyPerWeek=='W'" [(ngModel)]="weeklySunUnits">
                                    </div>
                                </div>
                                <div class="day-input">
                                    <label class="">
                    MON
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag" [(ngModel)]="weeklyMonUnits">
                                    </div>
                                </div>
                            </div>
                            <div class=" input-container-wrapper d-flex align-items-center justify-content-between nav pb-sm-0">
                                <div class="  day-input">
                                    <label class="">
                    TUE
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag" [(ngModel)]="weeklyTueUnits">
                                    </div>
                                </div>
                                <div class="day-input">
                                    <label class="">
                    WED
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag" [(ngModel)]="weeklyWedUnits">
                                    </div>
                                </div>
                            </div>
                            <div class=" input-container-wrapper d-flex align-items-center justify-content-between nav pb-sm-0">
                                <div class="  day-input">
                                    <label class="">
                    THU
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag" [(ngModel)]="weeklyThuUnits">
                                    </div>
                                </div>
                                <div class=" day-input">
                                    <label class="">
                    FRI
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag" [(ngModel)]="weeklyFriUnits">
                                    </div>
                                </div>
                            </div>
                            <div class=" input-container-wrapper d-flex align-items-center justify-content-between pb-sm-0">
                                <div class=" day-input">
                                    <label class="">
                    SAT
                  </label>
                                    <div class="input-group  ">
                                        <input type="number" class="form-control" [disabled]="dailyFlag ||weeklyPerWeek=='W'" [(ngModel)]="weeklySatUnits">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between row m-0">
                    <div class="col-md-6 col-12 pl-0" *ngIf="dailyFlag">

                        <h4 class="AvenirLTStd-Heavy m-0 py-2 f-size-16">Daily</h4>
                        <div class="d-flex align-items-center nav justify-content-between border-2">
                            <div class=" m-0  input-container-wrapper pb-sm-0 d-flex w-50">
                                <label class="white-space-nowrap">
                  Max Units Per Day<span class="text-danger">*</span>
                </label>
                                <div class="input-group  ">
                                    <input type="number" class="form-control" [(ngModel)]='dailyMaxUnits'>
                                </div>
                            </div>
                            <div class=" m-0  input-container-wrapper pb-sm-0 d-flex w-42">
                                <label class="">
                  #Days
                </label>
                                <div class="input-group  ">
                                    <input type="number" class="form-control" [(ngModel)]="dailyDays">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 p-0 col-12" *ngIf="monthlyFlag">

                        <h4 class="py-2 AvenirLTStd-Heavy m-0 f-size-16">Monthly</h4>
                        <div class="d-flex align-items-center nav justify-content-between border-2">
                            <div class=" m-0  input-container-wrapper pb-sm-0 d-flex w-50">
                                <label class="white-space-nowrap">
                  Max Units Per Month<span class="text-danger">*</span>
                </label>
                                <div class="input-group  ">
                                    <input type="number" class="form-control" [(ngModel)]="monthlyMaxUnits">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class=" m-0 input-container-wrapper d-flex pb-sm-0 w-50-sm mt-5" *ngIf="privateDuty">
                <div class=" mx-2 d-flex align-items-center">
                    <label class="">
            <h4 class="AvenirLTStd-Heavy m-0 py-2 f-size-16 pr-3 "> Private Duty</h4>
          </label>
                    <div class="check-box-wrapper">
                        <div class="on-off-toggle ">
                            <input class="on-off-toggle__input" type="checkbox" (click)='toggleDisplayDivPrivate($event)' id="bopis-to2" />
                            <label for="bopis-to2" class="on-off-toggle__slider"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="procedure-shift-code" *ngIf='privateFlag && privateDuty'>

                <div class="d-flex align-items-center justify-content-between row m-0">
                    <div class="col-md-6 col-12 pl-0 pr-0-sm mt-4">
                        <h4 class=" AvenirLTStd-Heavy m-0 py-2 f-size-16"></h4>
                        <div class="d-flex align-items-center nav justify-content-between border-2 pb-0">
                            <div class=" m-0 d-flex align-items-center pb-8 w-39">
                                <label class="white-space-nowrap m-0 color-black pr-2">
                  Rate Type<span class="text-danger">*</span>
                </label>
                                <!-- <div class="input-group  form-input">
                                     <input type="text" class="form-control" [(ngModel)]="privateDutyRateType">
                                </div> -->
                                <ng-autocomplete [data]="rateTypeList" (inputCleared)='autoSelected(null,"rateTypeList",false)' (selected)="autoSelected($event,'rateTypeList',true)" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="casemanagerKeyword" [itemTemplate]="itemTemplate4">
                                </ng-autocomplete>
                                <ng-template style="width: 100%;" #itemTemplate4 let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
                            </div>
                            <!-- <div class=" m-0 d-flex align-items-center  pb-8 w-58">
                <label class="white-space-nowrap m-0 pr-3 AvenirLTStd-Heavy color-black">
                  A Unit is
                </label>
                <span class="AvenirLTStd-Heavy pr-2">Hr:</span>
                <div class="input-group width-80 pr-2 form-input">
                  <input type="text" class="form-control">
                </div>
                <span class="AvenirLTStd-Heavy pr-2">Min:</span>
                <div class="input-group width-80 form-input">
                  <input type="text" class="form-control">
                </div>
              </div> -->

                        </div>
                    </div>
                    <div class="col-md-6 p-0 col-12">

                        <h4 class="py-2 AvenirLTStd-Heavy m-0 f-size-16">Regular Shift Rate</h4>
                        <div class="d-flex align-items-center nav justify-content-between border-2 pb-0">
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 1
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [(ngModel)]="regularShift1Rate">
                                </div>
                            </div>
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 2
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [disabled]='shiftRateTypeListFlag' [(ngModel)]="regularShift2Rate">
                                </div>
                            </div>
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 3
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [disabled]='shiftRateTypeListFlag' [(ngModel)]="regularShift3Rate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between row m-0">
                    <div class="col-md-6 col-12 pl-0 pr-0-sm">

                        <h4 class="AvenirLTStd-Heavy m-0 py-2 f-size-16">WeekEnd Shift Rate</h4>
                        <div class="d-flex align-items-center nav justify-content-between border-2 pb-0">
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 1
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [(ngModel)]="weekendShift1Rate">
                                </div>
                            </div>
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 2
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [disabled]='shiftRateTypeListFlag' [(ngModel)]="weekendShift2Rate">
                                </div>
                            </div>
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 3
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [disabled]='shiftRateTypeListFlag' [(ngModel)]="weekendShift3Rate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-0 col-12">

                        <h4 class="py-2 AvenirLTStd-Heavy m-0 f-size-16">Holiday</h4>
                        <div class="d-flex align-items-center nav justify-content-between border-2 pb-0">
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 1
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [(ngModel)]="holidayShift1Rate">
                                </div>
                            </div>
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 2
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [disabled]='shiftRateTypeListFlag' [(ngModel)]="holidayShift2Rate">
                                </div>
                            </div>
                            <div class=" m-0 d-flex align-items-center  pb-8">
                                <label class="white-space-nowrap m-0 pr-2 AvenirLTStd-Medium color-black">
                  Shift 3
                </label>
                                <div class="input-group width-80 form-input">
                                    <input type="number" class="form-control" [disabled]='shiftRateTypeListFlag' [(ngModel)]="holidayShift3Rate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between mt-3">
                <!-- <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step">Previous</button>
                </div> -->
                <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step" [routerLink]="['/widgets']">Cancel</button>
                </div>
                <div class="next">
                    <button type="button" class="btn-info  btn-next" (click)="authorizationValidations()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]=" notFound " class="text-dark "></div>
</ng-template>




<!--
<div class="container-wrapper ">
    <div class="ps-registration-tabs-container ">
        <div class="bg-grey-l p-3 ">
            <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Authorization Details</h4>
            <div class="d-flex align-items-center nav justify-content-between border-2 ">
                <div class="input-container-inner ">
                    <label class=" ">
                        PS Name
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="number " [disabled]="true " [ngStyle]="{ 'cursor': 'not-allowed'} "
                                [(ngModel)]="psName " class="form-control ">
                        </div>
                    </div>
                </div>
                <div class="input-container-inner mx-2 width-190 ">
                    <label class=" ">
                        Temp Auth<span class="text-danger ">*</span>
                    </label>

                    <div class=" example ">
                        <button type="button " class="btn btn-sm btn-toggle " (click)="tempAuthCheck() "
                            data-toggle="button " aria-pressed="false " autocomplete="off ">
                            <div class="handle "></div>
                        </button>
                    </div>


                </div>
                <div class=" input-container-inner ">
                    <label class=" ">
                        Auth #<span class="text-danger ">*</span>
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="text " class="form-control ">
                        </div>
                    </div>
                </div>
                <div class=" input-container-inner ">
                    <label class=" ">
                        Payor Plan<span class="text-danger ">*</span>
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="text " [(ngModel)]="payorPlan " [disabled]="true "
                                [ngStyle]="{ 'cursor': 'not-allowed'} " class="form-control ">
                        </div>
                    </div>
                </div>
                <div class=" m-0 input-container-inner ">
                    <label class=" ">
                        Case Manager<span class="text-danger ">*</span>
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="text " class="form-control ">
                        </div>
                    </div>
                </div>
                <div class=" m-0 input-container-inner width-180 ">
                    <label class=" ">Procedure Code<span class="text-danger ">*</span> </label>


                    <angular2-multiselect [data]="procedureCode " [(ngModel)]="procedureSelctedItems "
                        (onDeSelectAll)="procedureDeSelect() " (onSelect)="procedureSelect() "
                        [settings]="dropdownSettings ">
                    </angular2-multiselect>

                </div>
                <div class=" input-container-inner ">
                    <label class=" ">
                        Begin Date<span class="text-danger ">*</span>
                    </label>
                    <div class="input-group ">
                        <input type="text " class="form-control " [(ngModel)]="beginDate " (ngModelChange)="dateChange() "
                            aria-label="date " placeholder="mm/dd/yyyy " bsDatepicker>
                    </div>
                </div>
                <div class=" input-container-inner ">
                    <label class=" ">
                        End Date<span class="text-danger ">*</span>
                    </label>
                    <div class="input-group ">
                        <input type="text " class="form-control " [(ngModel)]="endDate " aria-label="date "
                            placeholder="mm/dd/yyyy " bsDatepicker>
                    </div>
                </div>
                <div class=" m-0 input-container-inner ">
                    <label class=" ">
                        Billing Rate<span class="text-danger ">*</span>
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="text " class="form-control " [ngStyle]='{"cursor ":"not-allowed "}'
                                [(ngModel)]="billingRate " [disabled]="true " aria-label="Case Manager "
                                placeholder=" Billing rate ">
                        </div>
                    </div>
                </div>
                <div class=" m-0 input-container-inner width-190 ">
                    <label class=" ">
                        Total Units<span class="text-danger ">*</span>
                    </label>
                    <div class="d-flex ">
                        <div class="input-group align-items-center ">
                            <input type="text " [(ngModel)]="totalUnits "
                                [ngStyle]="totalUnitsFlag?{ 'cursor': 'not-allowed'}:null " [disabled]="totalUnitsFlag "
                                class="form-control mr-2 " aria-label="Case Manager " placeholder="Total Units ">
                            <label class="customcheck ">
                                <span title="Unspecified units ">
                                    <input type="checkbox " (click)="toggleCheck($event) ">
                                    <span class="checkmark "></span>
                                </span>

                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class=" AvenirLTStd-Heavy m-0 py-2 ">Delivery Plan</h4>
            <div class="d-flex align-items-center nav justify-content-between ">

                <div class=" m-0 input-container-inner ">
                    <label class=" ">
                        Effective From
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="text " class="form-control " aria-label="Case Manager "
                                [(ngModel)]="effectiveFromDate " placeholder="mm/dd/yyyy " bsDatepicker>
                        </div>
                    </div>
                </div>
                <div class=" m-0 input-container-inner ">
                    <label class=" ">
                        Effective To
                    </label>
                    <div class="d-flex ">
                        <div class="input-group ">
                            <input type="text " class="form-control " aria-label="Case Manager "
                                [(ngModel)]="effectiveToDate " placeholder="mm/dd/yyyy " bsDatepicker>
                        </div>
                    </div>
                </div>
                <div class=" mx-2 ">
                    <label class=" ">
                        Daily
                    </label>
                    <div class="example ">
                        <button type="button " (click)="toggleDisplayDivDaily() " class="btn btn-sm btn-toggle "
                            data-toggle="button " aria-pressed="false " autocomplete="off ">
                            <div class="handle "></div>
                        </button>
                    </div>
                </div>
                <div class=" mx-2 ">
                    <label class=" ">
                        Weekly
                    </label>
                    <div class="example ">
                        <button type="button " (click)="toggleDisplayDivWeekly() " class="btn btn-sm btn-toggle "
                            data-toggle="button " aria-pressed="false " autocomplete="off ">
                            <div class="handle "></div>
                        </button>
                    </div>
                </div>
                <div class=" mx-2 ">
                    <label class=" ">
                        Monthly
                    </label>
                    <div class=" example ">
                        <button type="button " (click)="toggleDisplayDivMonthly() " class="btn btn-sm btn-toggle "
                            data-toggle="button " aria-pressed="false " autocomplete="off ">
                            <div class="handle "></div>
                        </button>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div *ngIf="weeklyFlag ">


                <h4 class=" AvenirLTStd-Heavy m-0 py-2 ">Weekly</h4>
                <div class="border-2 ">


                    <form class="d-flex align-items-center nav justify-content-between ">
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">
                                Max Units
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control " aria-label="Max Units " placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">Per Week</label>
                            <div class="input-group ">
                                <select class="form-control align-items-center ">
                                    <option selected>Sunday</option>
                                    <option value="1 ">Tuesday</option>
                                    <option value="2 ">Wednasday</option>
                                    <option value="3 ">Thursday</option>
                                    <option value="4 ">Friday</option>
                                    <option value="5 ">Saturday</option>

                                </select>
                            </div>

                        </div>
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">
                                #Weeks
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">
                                #Days Per Week
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="d-flex align-items-center nav justify-content-between ">
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                SUN
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                MON
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                TUE
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                WED
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                THU
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                FRI
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner day-input ">
                            <label class=" ">
                                SAT
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between row m-0 ">
                <div class="col-md-6 col-12 pl-0 " *ngIf="dailyFlag ">

                    <h4 class="AvenirLTStd-Heavy m-0 py-2 ">Daily</h4>
                    <form class="d-flex align-items-center nav justify-content-between border-2 ">
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">
                                Max Units Per Days
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">
                                #Days
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-6 p-0 col-12 " *ngIf="monthlyFlag ">

                    <h4 class="py-2 AvenirLTStd-Heavy m-0 ">Monthly</h4>
                    <form class="d-flex align-items-center nav justify-content-between border-2 ">
                        <div class=" m-0 input-container-inner ">
                            <label class=" ">
                                Max Units Per Day
                            </label>
                            <div class="d-flex ">
                                <div class="input-group ">
                                    <input type="text " class="form-control ">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>



            <div class="d-flex align-items-center justify-content-between mt-3 ">
                <div class="previous ">
                    <button type="button " [routerLink]="[ '/registration-re/child-payorplan'] "
                        class="btn-info btn-next prev-step ">Previous</button>
                </div>
                <div class="next ">
                    <button type="button " class="btn-info btn-next ">Save</button>
                </div>
            </div>
        </div>
    </div>
</div> -->