<app-header></app-header>
<div class="container-wrapper">
    <div class="mt-2">
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" [ngClass]="activeArray[0]?'active':''" role="tab" aria-controls="home" aria-selected="true">Basic Information</a>
            </li>
            <li class="nav-item tab-list disabled">
                <a class="nav-link tab-list-content" [ngClass]="activeArray[1]?'active':''">Guarantor Details</a>
            </li>
            <li class="nav-item tab-list disabled">
                <a class="nav-link tab-list-content peach-bg" [ngClass]="activeArray[2]?'active':''" role="tab" aria-controls="contact" aria-selected="false">Admission Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content peach-bg" [ngClass]="activeArray[3]?'active':''" role="tab" aria-controls="contact" aria-selected="false">Payor/Plan Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content lightblue-bg" routerLinkActive="active" [ngClass]="activeArray[4]?'active':''" role="tab" aria-controls="contact" aria-selected="false">Authorization Details</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet (activate)='activeclass()'> </router-outlet>