<div class="visit-main-wrapper">
    <div>
        <div class="comment-main-firm">
            <h2 class="text-white text-center">Visit Comments</h2>
        </div>

        <div class="inner-wrapper p-3">
            <form>
                <div class="form-group d-flex justify-content-between">
                  <p for="exampleInputEmail1">Email address</p>
                  <input type="email pl-3" class="form-control w-300" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group d-flex justify-content-between">
                  <p for="exampleInputPassword1">Password</p>
                  <textarea class="form-control ml-3 w-300" rows="3"></textarea>
                </div>
                <button type="submit" class="btn-common btn-green">Submit</button>
              </form>
        </div>
    </div> 
</div>